In [13]:
import pandas as pd

In [14]:
from sqlalchemy import create_engine

In [15]:
engine = create_engine('sqlite:///CryptoDB.db')

In [16]:
pd.read_sql('BTCBUSD',engine)

         symbol                    Time     Price
0       BTCBUSD 2021-12-03 09:42:21.551  56615.81
1       BTCBUSD 2021-12-03 09:42:23.670  56615.82
2       BTCBUSD 2021-12-03 09:42:24.242  56615.82
3       BTCBUSD 2021-12-03 09:42:24.242  56615.82
4       BTCBUSD 2021-12-03 09:42:24.242  56615.82
...         ...                     ...       ...
142500  BTCBUSD 2021-12-06 06:40:35.062  48722.56
142501  BTCBUSD 2021-12-06 06:40:35.197  48723.04
142502  BTCBUSD 2021-12-06 06:40:36.712  48723.05
142503  BTCBUSD 2021-12-06 06:40:36.712  48723.05
142504  BTCBUSD 2021-12-06 06:40:36.759  48723.05

[142505 rows x 3 columns]